@page "/"
@using MyLibraryApp.Shared
@using MyLibraryApp.UIf.Services
@inject IBookService BookService

<div>
    <h3>Books</h3>
    <a href="" class="btn btn-light">
        <i class="bi bi-plus"></i> Új könyv hozzáadása
    </a>
</div>

@if (_books is not null)
{
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Leltári szám</td>
            <td>Cím</td>
            <td>Író</td>
            <td>Kiadó</td>
            <td>Kiadás éve</td>
            <td>Műveletek</td>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var book in _books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.PublicationYear</td>
                <td>
                    <a href="" class="btn btn-light" data-bs-toggle="tooltip" title="Szerkesztés">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="" class="btn btn-danger" data-bs-toggle="tooltip" title="Törlés">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="" class="btn btn-light" data-bs-toggle="tooltip" title="Kölcsönzés">
                        <i class="bi bi-inbox"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Book> _books;
    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetAllAsync();
    }
    
}