@page "/"
@using MyLibraryApp.Shared
@using MyLibraryApp.UIf.Services
@using MyLibraryApp.UIf.Components
@inject IBookService BookService

<div>
    <h3>Books</h3>
    <button type="button" class="btn btn-light" @onclick="() => OpenBookForm()">
        <i class="bi bi-plus"></i> Új könyv hozzáadása
    </button>
</div>

@if (_books is not null)
{
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Leltári szám</td>
            <td>Cím</td>
            <td>Író</td>
            <td>Kiadó</td>
            <td>Kiadás éve</td>
            <td>Műveletek</td>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var book in _books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Publisher</td>
                <td>@book.PublicationYear</td>
                <td>
                    <button type="button" class="btn btn-light" @onclick="() => OpenBookForm(book)" data-bs-toggle="tooltip" title="Szerkesztés">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-danger" @onclick="() => OpenDeleteDialog(book.Id)" data-bs-toggle="tooltip" title="Törlés">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button type="button" class="btn btn-light" @onclick="() => OpenBookForm(book)" data-bs-toggle="tooltip" title="Kölcsönzés">
                        <i class="bi bi-inbox"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@if (_showBookForm)
{
    Console.WriteLine("I1m alredy in the IF");
    <BookForm Book="_selectedBook" OnSubmit="@(_selectedBook.Id == Guid.Empty ? AddBook : UpdateBook)" 
              DialogTitle="@(_selectedBook.Id == Guid.Empty ? "Új könyv hozzáadása" : "Könyv szerkesztése")" 
              SubmitButtonText="@(_selectedBook.Id == Guid.Empty ? "Hozzáadás" : "Mentés")" 
              OnClose="CloseBookForm" />
}

@if (_deleteBook)
{
    <DeleteForm EntityId="_selectedId" OnClose="CloseDeleteDialog" OnDelete="DeleteBook"></DeleteForm>
}

@code {
    private List<Book> _books;
    private Boolean _showBookForm = false;
    private Book? _selectedBook;
    private Boolean _deleteBook = false;
    private Guid _selectedId;

    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetAllAsync();
    }

    private void OpenBookForm(Book? book = null)
    {
        Console.WriteLine("Try to open BookForm");
        _selectedBook = book ?? new Book() { Id = Guid.Empty };
        _showBookForm = true;
        //StateHasChanged();
        /*Console.WriteLine(_selectedBook.Publisher + _selectedBook.Id + _showBookForm);*/
    }

    private async Task CloseBookForm()
    {
        _showBookForm = false;
        _selectedBook = null;
        _books = await BookService.GetAllAsync();
        StateHasChanged();
    }

    private async Task UpdateBook(Book book)
    {
        try
        {
            await BookService.UpdateAsync(book);
            StateHasChanged();
            await CloseBookForm();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed to update book: {ex.Message}");
        }
    }

    private async Task AddBook(Book book)
    {
        try
        {
            await BookService.AddAsync(book);
            StateHasChanged();
            await CloseBookForm();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Hiba történt: {ex.Message}");
        }
    }

    private void OpenDeleteDialog(Guid id)
    {
        _deleteBook = true;
        _selectedId = id;
        Console.WriteLine(id);
    }

    private async Task DeleteBook(Guid id)
    {
        Console.WriteLine(id);
        await BookService.DeleteAsync(id);
        _books = await BookService.GetAllAsync();
        CloseDeleteDialog();
    }

    private void CloseDeleteDialog()
    {
        _selectedId = Guid.Empty;
        _deleteBook = false;
    }

}