@page "/LoansList"
@using MyLibraryApp.Shared
@using MyLibraryApp.UIf.Services
@inject ILoanService LoanService

@if (_loans is not null)
{
    <h3>Loans</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Olvasó</td>
            <td>Könyv</td>
            <td>Kölcsönzés dátuma</td>
            <td>Visszahozás dátuma</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var loan in _loans)
        {
            <tr>
                <td>@loan.ReaderId, @loan.Reader</td>
                <td>@loan.BookId, @loan.Book</td>
                <td>@loan.LoanDate</td>
                <td>@loan.ReturnDate</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<LoanWithDetails> _loans;
    protected override async Task OnInitializedAsync()
    {
        _loans = await LoanService.GetAllAsync();
    }

}